$background-color: #8b8b8b;
$color: black;

$fuente-primaria: 'Times New Roman', Times, serif;
$fuente-secundaria: 'Poppins', sans-serif;

$fontsize-titulo-g: 84px ;
$fontsize-titulo-m: 64px;
$fontsize-texto: 16px ;

$direction: column;
$justify: center;
$align: center;
$wrap: wrap;

